In [1]:
import pandas as pd

In [2]:
google = pd.read_csv('33_google_stock_price.csv', squeeze=True) #squeeze converts the csv to Series object

In [4]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

## Below is a function to classify stocks.

In [6]:
def classify_performance(number):
    if number<300:
        return "Less than 300"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "Incredible"

In [8]:
google.apply(classify_performance) #.apply() is used to apply functions to the series.

0       Less than 300
1       Less than 300
2       Less than 300
3       Less than 300
4       Less than 300
5       Less than 300
6       Less than 300
7       Less than 300
8       Less than 300
9       Less than 300
10      Less than 300
11      Less than 300
12      Less than 300
13      Less than 300
14      Less than 300
15      Less than 300
16      Less than 300
17      Less than 300
18      Less than 300
19      Less than 300
20      Less than 300
21      Less than 300
22      Less than 300
23      Less than 300
24      Less than 300
25      Less than 300
26      Less than 300
27      Less than 300
28      Less than 300
29      Less than 300
            ...
2982       Incredible
2983       Incredible
2984       Incredible
2985       Incredible
2986       Incredible
2987       Incredible
2988       Incredible
2989       Incredible
2990       Incredible
2991       Incredible
2992       Incredible
2993       Incredible
2994       Incredible
2995       Incredible
2996       Incredible
2997       Incredible
2998       Incredible
2999       Incredible
3000       Incredible
3001       Incredible
3002       Incredible
3003       Incredible
3004       Incredible
3005       Incredible
3006       Incredible
3007       Incredible
3008       Incredible
3009       Incredible
3010       Incredible
3011       Incredible
Name: Stock Price, Length: 3012, dtype: object

In [11]:
google.apply(classify_performance).tail(11)

3001    Incredible
3002    Incredible
3003    Incredible
3004    Incredible
3005    Incredible
3006    Incredible
3007    Incredible
3008    Incredible
3009    Incredible
3010    Incredible
3011    Incredible
Name: Stock Price, dtype: object

## Applying anonymous functions [ Lambda Functions ]

In [13]:
google.apply(lambda x: x+1) #Using anonymous function to add 1 to existing number.

0        51.12
1        55.10
2        55.65
3        53.38
4        53.95
5        54.90
6        54.02
7        51.95
8        52.13
9        51.07
10       51.70
11       50.95
12       51.74
13       52.10
14       52.10
15       53.61
16       54.70
17       56.69
18       56.94
19       57.93
20       59.69
21       60.62
22       59.86
23       60.13
24       61.35
25       60.86
26       60.07
27       64.37
28       66.47
29       65.74
         ...
2982    676.22
2983    669.26
2984    681.04
2985    685.11
2986    693.10
2987    700.21
2988    695.49
2989    698.77
2990    696.36
2991    706.63
2992    716.09
2993    721.64
2994    717.98
2995    721.95
2996    720.85
2997    734.78
2998    737.96
2999    742.19
3000    739.63
3001    743.74
3002    740.77
3003    739.42
3004    742.77
3005    746.91
3006    769.79
3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: Stock Price, Length: 3012, dtype: float64